.projects-intro__container {
    padding-bottom: 34px;
    padding-top: 28px;
}

.projects-intro {
    margin: 0 auto;
    width: 358px;
}

.projects-intro__title p {
    color: #6C39FF;
    font-family: 'Aldrich', sans-serif;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.projects-intro__para {
    margin-top: 6px;
}

.projects-intro__para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.snowman-container {
    background-color: #F7F7F7;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

.snowman-iframe {
    width: 100%;
}

.snowman-content {
    margin: 32px 20px 0px 20px;
    max-width: 450px;
}

.snowman-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.snowman-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}



@media (min-width: 650px) {
    .projects-intro {
        width: 450px;
    }
}

@media (min-width: 900px) {

    .snowman-container {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .snowman-container .cp_embed_wrapper {
        width: 450px;
    }

    .snowman-content {
        margin: 0px 0px 0px 40px;
        max-width: 345px;
    }
}

@media (min-width: 1100px) {
    .snowman-container .cp_embed_wrapper {
        width: 580px;
    }

    .snowman-content {
        max-width: 380px;
    }
}

@media (min-width: 1300px) {
    .snowman-container {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .snowman-container .cp_embed_wrapper {
        width: 800px;
    }

    .snowman-content {
        margin-left: 56px;
        max-width: 350px;
    }
}

.trumps-container {
    margin-top: 40px;
    padding-bottom: 40px;
}

.trumps-iframe {
    height: 650px;
}

.trumps-content {
    margin: 32px 20px 0px 20px;
    max-width: 450px;
}

.trumps-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.trumps-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.trumps-para .second-p {
    margin-top: 16px;
}

@media (min-width: 454px) {
    .trumps-iframe {
        height: 550px;
    }
}

@media (min-width: 554px) {
    .trumps-iframe {
        height: 586px;
    }
}

@media (min-width: 654px) {
    .trumps-iframe {
        height: 638px;
    }
}

@media (min-width: 805px) {
    .trumps-iframe {
        height: 729px;
    }
}

@media (min-width: 900px) {
    .trumps-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding-bottom: 50px;
    }

    .trumps-iframe {
        height: 660px;
        width: 450px;
    }

    .trumps-content {
        margin: 0px 40px 0px 0px;
        max-width: 345px;
    }
}

@media (min-width: 1100px) {
    .trumps-iframe {
        height: 638px;
        width: 580px;
    }

    .trumps-content {
        max-width: 380px;
    }
}

@media (min-width: 1300px) {
    .trumps-container {
        padding-bottom: 70px;
    }

    .trumps-iframe {
        height: 638px;
        width: 800px;
    }

    .trumps-content {
        margin-right: 56px;
        max-width: 350px;
    }
}


.coffee-container {
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

.coffee-content {
    margin: 32px 20px 0px 20px;
    max-width: 450px;
}

.coffee-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.coffee-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}


@media (min-width: 900px) {
    .coffee-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;            padding-bottom: 50px;
        padding-top: 50px;
    }

    .coffee-container .cp_embed_wrapper {
        width: 390px;
    }

    .coffee-content {
        margin: 0px 40px 0px 0px;
        max-width: 400px;
    }
}

@media (min-width: 1100px) {
    .coffee-container .cp_embed_wrapper {
        margin-left: 50px;
        width: 518px;
    }

    .coffee-content {
        max-width: 380px;
    }
}

@media (min-width: 1300px) {
    .coffee-container {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .coffee-container .cp_embed_wrapper {
        width: 600px;
    }

    .coffee-content {
        margin-right: 56px;
        max-width: 487px;
    }
}


.toaster-container {
    background-color: #F7F7F7;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

.toaster-content {
    margin: 32px 20px 0px 20px;
    max-width: 450px;
}

.toaster-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.toaster-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (min-width: 900px) {
    .toaster-container {
        display: flex;
        justify-content: center;            padding-bottom: 50px;
        padding-top: 50px;
    }

    .toaster-container .cp_embed_wrapper {
        width: 390px;
    }

    .toaster-content {
        margin: 0px 0px 0px 40px;
        max-width: 400px;
    }
}

@media (min-width: 1100px) {
    .toaster-container .cp_embed_wrapper {
        margin-right: 50px;
        width: 518px;
    }

    .toaster-content {
        max-width: 380px;
    }
}

@media (min-width: 1300px) {
    .toaster-container {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .toaster-container .cp_embed_wrapper {
        width: 600px;
    }

    .toaster-content {
        margin-right: 56px;
        max-width: 487px;
    }
}


.kettle-container {
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

.kettle-content {
    margin: 32px 20px 0px 20px;
    max-width: 450px;
}

.kettle-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.kettle-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (min-width: 900px) {
    .kettle-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;            padding-bottom: 50px;
        padding-top: 50px;
    }

    .kettle-container .cp_embed_wrapper {
        width: 390px;
    }

    .kettle-content {
        margin: 0px 40px 0px 0px;
        max-width: 400px;
    }
}

@media (min-width: 1100px) {
    .kettle-container .cp_embed_wrapper {
        margin-left: 50px;
        width: 518px;
    }

    .kettle-content {
        max-width: 380px;
    }
}

@media (min-width: 1300px) {
    .kettle-container {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .kettle-container .cp_embed_wrapper {
        width: 600px;
    }

    .kettle-content {
        margin-right: 56px;
        max-width: 487px;
    }
}

.modal-container {
    background-color: #F7F7F7;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

.modal-content {
    margin: 32px 20px 0px 20px;
    max-width: 450px;
}

.modal-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.modal-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (min-width: 900px) {
    .modal-container {
        display: flex;
        justify-content: center;            padding-bottom: 50px;
        padding-top: 50px;
    }

    .modal-container .cp_embed_wrapper {
        width: 390px;
    }

    .modal-content {
        margin: 0px 0px 0px 40px;
        max-width: 400px;
    }
}

@media (min-width: 1100px) {
    .modal-container .cp_embed_wrapper {
        margin-right: 50px;
        width: 518px;
    }

    .modal-content {
        max-width: 380px;
    }
}

@media (min-width: 1300px) {
    .modal-container {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .modal-container .cp_embed_wrapper {
        width: 600px;
    }

    .modal-content {
        margin-right: 56px;
        max-width: 487px;
    }
}


.toggle-container {
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

.toggle-button {
    height: 40px;
    margin-left: 20px;
    position: relative;
    width: 100px;
}

.toggle {
    background: linear-gradient(to bottom, #d7d7d7, #f0f0f0);
    border-radius: 50px;
    box-shadow: -1px -1px 2px grey;
    height: 30px;
    left: 0px;
    position: absolute;
    top: 5px;
    width: 80px;
}

.toggle-green {
    animation: toggleGreen 0.5s forwards ease-out;
}

@keyframes toggleGreen {
  0% {
  }
  
  20% {
        background: linear-gradient(to bottom, #4ed34e, #8be28b);
  }
  
  100% {
        background: linear-gradient(to bottom, #4ed34e, #8be28b);
  }
}

.toggle-grey {
    animation: toggleGrey 0.5s forwards ease-out;
}

@keyframes toggleGrey {
  0% {
        background: linear-gradient(to bottom, #4ed34e, #8be28b);
  }
  
  20% {
        background: linear-gradient(to bottom, #d7d7d7, #f0f0f0);
  }
  
  100% {
        background: linear-gradient(to bottom, #d7d7d7, #f0f0f0);
  }
}


.toggle-circle {
    background-color: white;
    border-radius: 50px;
    box-shadow: -1px 1px 2px grey;
    cursor: pointer;
    height: 26px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 26px;
    z-index: 2;
}

.toggle-on {
    animation: toggleOn 0.2s forwards linear; 
}

@keyframes toggleOn {
  0% {  
  }
  
  100% {
        box-shadow: 1px 1px 2px grey;
        left: 52px;
  }
}

.toggle-off {
    animation: toggleOff 0.2s forwards linear; 
}

@keyframes toggleOff {
  0% {
        box-shadow: 1px 1px 2px grey;
        left: 52px;
  }
  
  100% {
        box-shadow: -1px 1px 2px grey;
        left: 2px;
  }
}

.toggle-words {
    color: grey;
    display: none;
    font-family: 'Lato';
    position: absolute;
    top: calc(50% - 10px);
    z-index: 1;
}

.toggle-words__on {
    color: white;
    left: 10px;
}

.toggle-words__off {
    right: 10px;
}

.words-active {
    display: block;
}

.toggle-content {
  margin: 32px 20px 0px 20px;
  max-width: 450px;
}

.toggle-title p {
    color: #474747;
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;
}

.toggle-para p {
    color: #474747;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (min-width: 900px) {
    .toggle-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;            padding-bottom: 50px;
        padding-top: 50px;
    }

    .toggle-button {
        margin-top: 100px;
        width: 248px;
    }

    .toggle-content {
        margin: 0px 160px 0px 0px;
        max-width: 400px;
    }
}

@media (min-width: 1100px) {
    .toggle-button {
        margin-left: 177px;
        width: 230px;
    }

    .toggle-content {
        max-width: 420px;
    }
}

@media (min-width: 1300px) {
    .toggle-container {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .toggle-button {
        width: 456px;
    }

    .toggle-content {
        margin-right: 56px;
        max-width: 487px;
    }
}